[Unit]
Description=MeshWall Feed Updater
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/meshwall update
User=root
Nice=19
IOSchedulingClass=idle
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_RAW
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_RAW
PrivateTmp=yes
NoNewPrivileges=yes

[Install]
WantedBy=multi-user.target